body        
	.main-block
		text-align: left
		.grid-item
			width: 33%
			height: auto
			img
				overflow hidden
				width 100%
		span.gallery-text 
			margin 0 1%
			font-weight: bold
			font-family: system-ui, arial, sans-serif
		.gallery
			display flex
			justify-content space-between
			width 100%
			a
				margin 2% 1%
				width 100%
				img
					overflow hidden
					width 100%
		
		.info-container
			background: #FFFFFF
			border-radius: border_radius
			padding: 33px 50px 40px
			color: #000
			font-size: 17px
			line-height: 22px
			margin-bottom: 60px
			h3 
				font-size: 22px
				line-height: 29px
				margin: 0 0 33px
				color: #000
			.rating-block
				margin: 0 0 80px
				font-size: 15px
				line-height: 20px
				position: relative
				.item
					position: relative
					z-index: 0
					background-color: #F8F8F8
					border-radius: 6px
					overflow: hidden
					padding: 16px 16px 14px 18px
					margin-bottom: 12px
					.heading
						padding-bottom: 12px;
						font-size: 15px;
						line-height: 18px;
						display: flex;
						justify-content: space-between;
						.title
							color: #000;
						.rating
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							background: rgba(216, 221, 223, 0.6);
							border-radius: 6px;
							overflow: hidden;
							height: 14px;
							&:after
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								content: "";
								background: linear-gradient(90deg, #09C400 0%, #0D9E6E 266.44%);
								border-radius: 6px;
								width: var(--width);

@media (max-width:680px)
	body
		.main-block
			width: 100%
			span 
				font-size: 0.9em
			.gallery
				flex-direction: column

