js_block_color = #7bbdf3

body
	.main-block
		.info-container
			details
				margin: 10px
				summary
					width: 130px
					background-color: js_block_color
					padding 5px
					border-radius: border_radius
				form 
					border-radius: 0 border_radius border_radius border_radius
					padding 10px
					background-color: js_block_color
					&#chart
						display: grid
						grid-template-columns: repeat(2, auto)
						grid-template-rows: repeat(5, 1fr)
						grid-row-gap: 10px
						align-items: center
						.chart__item
							display: flex
							flex-direction: row
							label
								margin 0 10px
						.column-title
							text-align: center
							font-weight: bold
						input[type="button"]
							width: 50%
							grid-area: 5/1/6/3
					&#filter
						display: flex
						flex-direction: column
						.filter__item
							display: flex
							flex-wrap: wrap
							margin 5px
							input
								margin 0 10px
					&#sort
						display: flex
						flex-direction: column
						.sort__item
							display: flex
							flex-wrap: wrap
							margin 5px
							input, select
								margin 0 10px
			details[open]
				summary
					border-radius: border_radius border_radius 0 0
			.scroll
				overflow: auto
				table 
					overflow auto
					font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif
					font-size: 12px
					background: white
					width: 100%
					height: 100%
					border-collapse: collapse
					text-align: left
					margin: 0 auto 20px
					tbody
						tr
							width: 100%
							height: 100%
							th
								font-weight: normal
								color: #039
								height: 100%
								padding: 10px 15px
								border-bottom: 3px solid #e8edff
							td
								color: #669
								height: 100%
								border-top: 1px solid #e8edff
								padding: 10px 15px

