extends processor_info_template
block variables
	- var title = IntelCorei5Page
	- var imageSource = 'img/intel_core_i5_6400.png'
block text
	span.
		Intel Core i3-9100F является лучшим выбором в категории "до 100$".
		Тесты это доказали. Очевидно, что бежать в магазин за этим ЦП не стоит,
		если в вашей системе уже "живет" равноценный камень прошлого поколения
		(Core i3-7100, Core i3-8100 или Core i3-8350K). А вот тем, кто только планирует собрать добротный
		игровой/мультимедийный ПК, советуем присмотреться именно к этой модификации.
