- var MainPage = 'Главная страница'
- var IntelProcessorsPage = 'Процессоры Intel последних поколений'

- var IntelCorei5Page = 'Intel Core i5-6400'
- var IntelCorei7Page = 'Intel Core i7-9700K'
- var IntelCorei9Page = 'Intel Core i9-12900K'

- var IntelCorei5PageURL = 'intel_core_i5_6400.html'
- var IntelCorei7PageURL = 'intel_core_i7_9700K.html'
- var IntelCorei9PageURL = 'intel_core_i9_12900K.html'

- var menuPages = {'index.html': MainPage, 'processors.html': IntelProcessorsPage}
- var processorsPages = {'Intel Core i9-12900K': IntelCorei9PageURL, 'Intel Core i7-9700K': IntelCorei7PageURL, 'Intel Core i5-6400' : IntelCorei5PageURL}